.cards{
    padding: 15px 15px;
}

.cards__section-title{
    margin: 0;
    padding: 10px 0 0 15px;
}

.card__container{
    display: flex;
    margin-bottom: 15px;
    border: 2px  solid rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: #ffffff;

}

.card__container:last-child{
    margin-bottom: 0;
}

.card__thumb{
    width: 50%;
    position: relative;
}

.card__thumb-promotion{
    background: #484848;
    color: #fff;
    font-weight: bold;
    font-size: 0.9rem;
    position: absolute;
    top: 10px;
    left: -8px;
    padding: 3px 3px 5px 10px;
    
}

.card__thumb-promotion::before{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    background-color: #212121;
    display: block;
    width: 7px;
    height: 10px;
    transform: skewY(45deg);
    z-index: -10;
    
}

.card__thumb-img{
    width: 100%;
    display: block;
}

.card__info{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    justify-content: space-around;
}

.card__info--promotion .card__info-field--regular-price span{
    text-decoration: line-through;
}

.card__info--promotion .card__info-field--regular-price{
    color: #696868;
}

.card__info-field .card__info-field--actual-price-red{
    font-weight: bold;
    font-size: 1.1rem;
    color: #e03030;
}


.card__info-field{
    padding-bottom: 14px;
}

.card__info-field--name{
    font-weight: bold;
    font-size: 1.1rem;
}

.card__info-field--prices{
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 640px){
    .cards{
       display: grid;
       grid-template-columns: repeat(2, minmax(300px, auto));
       gap: 10px;
    }

    .card__container{
        margin-bottom: 0;
    }

    .btn-cta{
        padding: 0 20px;
    }
}

@media screen and (min-width: 768px){
    .cards{
        grid-template-columns: repeat(3, minmax(200px, auto));
     }
}